@media only screen and (max-width: 350px) {
body{
     font-family:sans-serif;
          }
}
/* css style for home page*/
 .container{
    display: flex;
    justify-content: center;
    background-color: #8ca68c;
    border: 5px solid black;
    padding: 50px;
    color: blue;
    font-size: 25px;
}
nav ul{
  text-align:right;
}
nav li{
  display: inline-block;
  margin: 20px;
}
ul>li>a{
  text-transform: uppercase;
  padding: 10%;
  text-decoration:none;
  font-weight:bold;
  color: white;
}
ul>li>a:hover{
  box-shadow: 0 0 0 0.625em rgba(0, 0, 0 , 0.1);
  background-color: rgba(107, 93, 84, 0.678);
  color: rgba(0, 35, 122, 0.7);
}
#top{
  background-image:url('http://www.africa-games.com/images/africa_map_quiz.jpg');
  background-size:cover;
  padding:10px;

}
 img{
  border-radius:20px;
  padding:10px; 
  }
  #home img{
    float: left;
  }
#home p{
  padding:10px;
  margin:20px;
  
}
#head{
  
  background-image:url('http://www.child-sponsorship.com/images/african_child.jpg');
  background-size: cover;
  padding:50px;
}
p{
  text-align:justify;

}
footer p{
  font-style:italic;
  color: white;
  text-align: center;
  font-weight: bold;
}
footer{
  background-color: blue;
  padding-bottom:10px;
  padding-top:5px;
  
}
footer a{
  text-decoration: none;
  font-style: italic;
  color: white;
  font-size:25px;
  font-weight:bolder;
}
/* css style for headings*/
h2,h3{
  text-align: center;
  color: red;
  text-shadow: 2px 2px black;
  text-decoration: underline;
}
h1{
  color:white;
  font-weight:bold;
  font-style:italic; 
  text-align:center;
  font-family:'arial', 'Helvetica';
  font-variant: small-caps;
  text-shadow: 3px 3px blue;
  font-size:50px;
  }
  /* css style for games.html file*/
#gametop{
  background-image:url('http://www.africa-games.com/images/africa_games.jpg');
  background-size: cover;
  border-radius: 20px;
  padding:200px;
}
.games{
  column-count:3;
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  column-gap: 50px;
  border: 10px ridge;
  border-radius: 20px;
  background-color:lightblue; 
}
/* css style for rules.html*/
#rulestop, #footer2{
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
  padding:30px;
      }
#rulestop a{
  text-decoration:none;
  margin:10px;
  font-size:20px;
  font-style: italic;
  font-weight: bold;
}
.rules{
  font-family:'Georgia', serif;
  padding-top:10px;
  font-size:25px;
  border:10px solid blue;
  background-color:pink;
}
.rules h2{
  text-align: left;
}
iframe{
  float: left;
  margin:20px;
}
#ayo,#mancala,#senet{
  margin:120px; 
  padding-right:50px;
  
  
}